@charset "utf-8";



/*
  CIS 155 - Web Dev 1 - Quarter Project - V1 Style Sheet
  Author: Brittney Shriver 
  Date: 5/1/20

  Filename: styles.css

*/

*/ Structural Styles */
article, aside, header, nav, footer, section {/*M3LO1 Demonstrate the use of a CSS reset style sheet (CSS, note where you have CSS reset rules): style reset of the main sectioning elements. */
	display: block;
	background: transparent;
	font-size: 100%;
	margin: 0;
	padding: 0;
}
html {
    background-color: black;
}
header {
    background-color:hsl(60, 2%, 80%);
    color: hsl(0, 3%, 7%);
}
body {
    background-color: hsl(60, 2%, 80%);
}
footer {
    background-color: hsl(60, 2%, 80%);
}


/* navigation styles */
nav {
	background-color: rgb(133, 134, 136);
	background-color: rgb(133, 134, 136);
	padding-bottom: 3px;
	position: relative; /* M3LO8B Demonstrate relative positioning: moves the nav header up to get rid of the gap between the image and the nav. */
	top: -20px;
}
nav::after {
	clear: both;/* M3LO3 Demonstrate a clearing floats: used to clear the nav to in order to prevent container collapse */
	content: "";
	display: table;
}
nav>ul {
	margin-right: 4%;
	list-style-type:none;/* M2 LO12 Changes how the element displays it's contents by removing the bullet points that would come by default. */
}
nav>ul>li {
	font-size: 2em;
	color: hsla(313, 7%, 60%, 1);
	text-decoration:none;
}
nav>ul>li>a {
	display: block;
	text-align: center;
	padding-top: 10px;
}

H1 {
	text-align: center;
	padding: 15px;
}

H2{
	text-align: center;
}

H4{
	text-align: center;
}

H5{
	text-align: center;
	font-size: relative;
}

H3{
	text-align: left;
	padding-left: 150px;
}

/* The grid:equal columns that floats next to each other */
.row {
	float: left;
	padding: 10px;
  }
  
  
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
  
  /* The expanding image container (positioning is needed to position the close button and the text) */
  .container {
	position: relative;
	display: border-box;
  }
  

* {
	box-sizing: border-box;
	position: center;
  }
  
  /* Style inputs */
  input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
  }
  
  input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	cursor: pointer;
  }
  
  input[type=submit]:hover {
	background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding-left: 500px;
	padding-top: 15px;
	padding-right: 50px
  }
  
  /* Create two columns that float next to eachother */
  .column {
	float: left;
	width: 50%;
	margin-top: 6px;
	padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
	.column, input[type=submit] {
	  width: 100%;
	  margin-top: 0;
	}